<?xml version="1.0" encoding="utf-8"?>

 <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>ConfigTest APP</name>

    <description>
        An example for phonegap build docs to test the config file . 
    </description>

    <author href="https://itsandpm.com" email="naveedahmed1983@gmail.com">
        Naveed Ahmed 
    </author>

</widget>